# {{ .Header }}

{{- if .LongDescription }}

{{ .LongDescription }}
{{- else if .ShortDescription }}

{{ .ShortDescription }}
{{- end }}

```text
{{ .Name }} [command] [global flags] [command flags]
```

{{- if .GlobalFlagsBlock }}

### Global Flags

```text
{{ .GlobalFlagsBlock -}}
```
{{- end }}

{{- range $group := .Groups }}

### {{ $group.Title }}
{{ range $command := $group.Commands }}
* [{{ $command.Path }}]({{ $command.Path | anchor }})
{{- end }}
{{- end }}

{{- range $group := .Groups }}

# {{ $group.Title }}
{{- range $command := $group.Commands }}

## `{{ $command.Path }}`

{{ $command.Description }}

```text
{{ $command.Usage }}
```

{{- if $command.FlagsBlock }}

### Command Flags

```text
{{ $command.FlagsBlock -}}
```
{{- end }}
{{- end }}
{{- end }}
{{- range $section := .ExtraSections }}

# {{ $section.Title }}

{{ $section.Text }}
{{- end }}
